.DS_Store
.pytest_cache/
.venv/
.ruff_cache/
__pycache__/
src/datannurpy/app/
examples/output*/
examples/test_*
.env
.python-version
*.log
examples/datannur_app/*

# Coverage
htmlcov/
.coverage
coverage.xml
